<ion-view title="ingresar" id="page4">
  <ion-content padding="true" class="has-header">
    <form id="ingresar-form3" class="list">
      <ion-list id="ingresar-list3">
        <label class="item item-input" id="ingresar-input6">
          <span class="input-label">Username</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="ingresar-input7">
          <span class="input-label">Password</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <a ui-sref="categories" id="ingresar-button22" class="button button-stable  button-block">Log in</a>
      <a href-inappbrowser="/signup" id="ingresar-button23" class="button button-positive  button-block button-clear">Or create an account</a>
    </form>
  </ion-content>
</ion-view>
