<ion-view title="login" hide-nav-bar="true" id="page1">
  <ion-content padding="false" class="manual-ios-statusbar-padding" scroll="false">
    <div>
      <img src="img/BSYqeN3cTASkQy1QjOth_splashscreen.png" style="display: block; width: 100%; height: 100%; margin-left: auto; margin-right: auto; position:absolute">
      <a ui-sref="ingresar" id="login-button16" style = "bottom:20px; left: 8%;" class="boton boton-positivo">Login</a>
      <a ui-sref="singup" id="login-button18" style = "bottom:20px; left:51%"  class="boton boton-positivo">Signup</a>
      </img>
    </div>

  </ion-content>
</ion-view>
