<ion-view hide-nav-bar="true" view-title="Categories">
  <div class="bar bar-header bar-positive">
    <div class="h1 title">Categories</div>
    <button ui-sref="login" class="button button-icon icon ion-power"></button>
  </div>
  <ion-content padding="true" class="has-header">
    <div  class="row">
      <div padding="true" class="col col-50">
        <button class="buttom-customised icon ion-document-text"><span style="position: absolute; top: 72%; left: 24%; text-align: center; font-size: 22%; color:black">Casesheet</span></button>
      </div>
      <div class="col col-50"><button class="buttom-customised icon ion-ios-calendar-outline"><span style="position: absolute; top: 70%; left: 5%; text-align: center; font-size: 22%; color:black">Book Appointment</span></button></div>
    </div>
    <div class="row">
    <div class="col col-50"><button class="buttom-customised ion-document"><span style="position: absolute; top: 70%; left: 10%; text-align: center; font-size: 22%; color:black">View Lab Report</span></button></div>
    <div class="col col-50"><button class="buttom-customised icon ion-android-cancel"><span style="position: absolute; top: 70%; left: 1%; text-align: center; font-size: 22%; color:black">Cancel Appointment</span></button></div>
  </div>
    <div class="row">
      <div class="col col-50"><button class="buttom-customised icon ion-ios-medkit"><span style="position: absolute; top: 70%; left: 4%; text-align: center; font-size: 22%; color:black">Favourate Doctor</span></button></div>
      <div class="col col-50"><button class="buttom-customised icon ion-person-stalker"><span style="position: absolute; top: 70%; left: 27%; text-align: center; font-size: 22%; color:black">Support</span></button></div>
    </div>
  </ion-content>
</ion-view>
