<ion-view view-title="About">
  <ion-content>

    <p>¿Sabe cómo construir sitios web? Entonces ya sabes cómo crear aplicaciones para móviles. Ionic Framework ofrece los mejores componentes de aplicaciones web y nativas para la creación de aplicaciones web nativas y progresivas altamente interactivas.<p>
    <p>Ionic Framework es un proyecto 100% libre y de código abierto, con licencia bajo MIT. Siempre permanecerá libre de usar, impulsado por una comunidad mundial masiva.<p>

  </ion-content>
</ion-view>
