<ion-tabs style="position:absolute; top:auto" class="tabs-icon-top tabs-color-positive tabs-background-light">

  <ion-tab title="About US" icon-on="ion-ios-help-outline" icon-off="ion-ios-help-outline" href="#/tab/about">
    <ion-nav-view name="tab-about"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Categories" icon-on="ion-navicon" icon-off="ion-navicon" href="#/tab/categories">
    <ion-nav-view name="tab-categories"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Contact" icon-on="ion-android-person" icon-off="ion-android-person">
    <!-- Tab 3 content -->
  </ion-tab>
  <ion-tab title="Profile" icon-on="ion-ios-gear" icon-off="ion-ios-gear-outline">
    <!-- Tab 3 content -->
  </ion-tab>


</ion-tabs>
